In [21]:
using CSV, DataFrames, TypedTables, GLM, Plots, Makie

In [22]:
oldcarprices=DataFrame(CSV.File("data/car_price.csv"))

5512Ã—10 DataFrame
  Row â”‚ Column1  car_name                           car_prices_in_rupee  kms_d â‹¯
      â”‚ Int64    String                             String15             Strin â‹¯
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚       0  Jeep Compass 2.0 Longitude Optioâ€¦  10.03 Lakh           86,22 â‹¯
    2 â”‚       1  Renault Duster RXZ Turbo CVT       12.83 Lakh           13,24
    3 â”‚       2  Toyota Camry 2.5 G                 16.40 Lakh           60,34
    4 â”‚       3  Honda Jazz VX CVT                  7.77 Lakh            26,69
    5 â”‚       4  Volkswagen Polo 1.2 MPI Highline   5.15 Lakh            69,41 â‹¯
    6 â”‚       5  Volkswagen Vento 1.2 TSI Highlinâ€¦  7.66 Lakh            49,71
    7 â”‚       6  Volkswagen Vento 1.2 TSI Highlinâ€¦  7.58 Lakh            43,68
    8 â”‚       7  Honda WR-V VX Diesel               11.60 Lakh           14,47
  â‹®   â”‚    â‹®                     â‹®                           â‹®               â‹® â‹±
 5506 â”‚    5505  Maruti Vitara Brezza ZDi Plus      7.95 Lakh            60,00 â‹¯
 5507 â”‚    5506  BMW X5 xDrive 30d                  32.90 Lakh           99,00
 5508 â”‚    5507  BMW X1 sDrive 20d xLine            28.90 Lakh           45,00
 5509 â”‚    5508  BMW M Series M4 Coupe              64.90 Lakh           29,00
 5510 â”‚    5509  Jaguar XF 2.2 Litre Luxury         13.75 Lakh           90,00 â‹¯
 5511 â”‚    5510  BMW 7 Series 730Ld                 29.90 Lakh           79,00
 5512 â”‚    5511  BMW 5 Series 520d M Sport          31.90 Lakh           42,00
                                                 7 columns and 5497 rows omitted

In [23]:
first(oldcarprices,5)

5Ã—10 DataFrame
 Row â”‚ Column1  car_name                           car_prices_in_rupee  kms_dr â‹¯
     â”‚ Int64    String                             String15             String â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚       0  Jeep Compass 2.0 Longitude Optioâ€¦  10.03 Lakh           86,226 â‹¯
   2 â”‚       1  Renault Duster RXZ Turbo CVT       12.83 Lakh           13,248
   3 â”‚       2  Toyota Camry 2.5 G                 16.40 Lakh           60,343
   4 â”‚       3  Honda Jazz VX CVT                  7.77 Lakh            26,696
   5 â”‚       4  Volkswagen Polo 1.2 MPI Highline   5.15 Lakh            69,414 â‹¯
                                                               7 columns omitted

In [24]:
last(oldcarprices,5)

5Ã—10 DataFrame
 Row â”‚ Column1  car_name                    car_prices_in_rupee  kms_driven  f â‹¯
     â”‚ Int64    String                      String15             String15    S â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    5507  BMW X1 sDrive 20d xLine     28.90 Lakh           45,000 kms  D â‹¯
   2 â”‚    5508  BMW M Series M4 Coupe       64.90 Lakh           29,000 kms  P
   3 â”‚    5509  Jaguar XF 2.2 Litre Luxury  13.75 Lakh           90,000 kms  D
   4 â”‚    5510  BMW 7 Series 730Ld          29.90 Lakh           79,000 kms  D
   5 â”‚    5511  BMW 5 Series 520d M Sport   31.90 Lakh           42,000 kms  D â‹¯
                                                               6 columns omitted

In [25]:
describe(oldcarprice)

Summary Stats:
Length:         5512

Type:           CSV.Row
Number Unique:  5512

In [26]:
x=oldcarprice.kms_driven
y=oldcarprice.car_prices_in_rupee

5512-element Vector{String15}:
 "10.03 Lakh"
 "12.83 Lakh"
 "16.40 Lakh"
 "7.77 Lakh"
 "5.15 Lakh"
 "7.66 Lakh"
 "7.58 Lakh"
 "11.60 Lakh"
 "6.99 Lakh"
 "7.53 Lakh"
 â‹®
 "10.90 Lakh"
 "49.90 Lakh"
 "7.95 Lakh"
 "32.90 Lakh"
 "28.90 Lakh"
 "64.90 Lakh"
 "13.75 Lakh"
 "29.90 Lakh"
 "31.90 Lakh"

In [28]:
using BenchmarkTools
@btime $oldcarprice[1:end-1,1:end-1];
@btime @view $oldcarprice[1:end-1,1:end-1]

  76.987 ns (1 allocation: 64 bytes)

  17.936 ns (0 allocations: 0 bytes)

5511Ã—0 view(reshape(::CSV.File, 5512, 1), 1:5511, 1:0) with eltype CSV.Row